body
{
	background: #1EB0D7;
	font-family: Tahoma;
	font-size: 11px;
	width: 1200px;
	margin: auto;
}

/*ESTILOS PARA LA IMAGEN DE ARRIBA*/
#logo
{
	background: url(../images/logoEpsa.png) no-repeat right;
	background-size: 35%;
	/*Agregaremos un padding*/
	padding: 20em 0em 0em 0em;
	text-transform: uppercase;
}