<!DOCTYPE html>
<html lang="es">

<head>
    <title>EPSA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>

<body>

    <div id="app" v-bind:style="styleTwo">
        <div class="container">
            <header id="logo">
                <a href="index.html"><img src="images/logoEpsa.png" alt="ArcGis Pro" style="width:20%;"></a>
            </header>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" v-bind:class='{active:resource.active}'
                        v-for="resource in resources"></li>
                </ol>
                <div class="carousel-inner">
                    <div v-bind:class='{active:resource.active, item:true}' v-for="resource in resources">
                        <img v-bind:src='resource.image' v-bind:alt='resource.name' style="width:100%;">
                        <div class="carousel-caption">
                            <a v-bind:href="resource.link">
                                <h3>{{resource.name}}</h3>
                            </a>
                            <p>{{resource.description}}</p>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="Js/app.js"></script>
</body>

</html>